<Center><h1> Neural Network on Titanic Data </h1><Center>
 <img src="images/img1.jpg" width=700 height=500 />

# Table of content

1. [Load Packages](#id1)
2. [Load Dataset](#id2)
3. [Data Preprocessing](#id3)
    3.1 [Data Description](#id301)
    3.2 [Pandas profiling](#id302)
    3.3 [Handle missing data](#id302)
4. [Data Standardization](#id4)
5. [Data Standardization](#id5)

<a id='id1'></a>
# Load Packages

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import keras
from keras.models import Sequential
%matplotlib inline

<a id='id2'></a>
# Load Dataset

In [10]:
titanic_data =  pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Casestudy/titanic_train.csv')

In [11]:
titanic_data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]